/* Font Family */
@font-face {
    font-family: 'shrikhand';
    src: url('../fonts/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

/* variables couleurs */
$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiare:#99E2D0;
$gradient:linear-gradient(#FF79DA, #9356DC);

/* variables images */
$img-menu1:url("../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
$img-menu2:url("../images/stil-u2Lp8tXIcjw-unsplash.jpg");
$img-menu3:url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
$img-menu4:url("../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");

/* Mixins */
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin imgBackground {
    background-size: cover;
    background-position: center;
}

@mixin btn {
    background: $gradient;
    color: #ffffff;
    padding: 20px;
    border-radius: 40px;
    font-weight: bold;
    width: 20%;
    text-align: center;
    font-size: 16px;
}

@mixin btnHover {
    box-shadow: 0 0 0 0 $couleur-primaire;
    animation: pulse 1.3s;
    cursor: pointer;
}


// Loader
#loader {

    position: absolute;
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: loader 5s linear;
    visibility: hidden;



    .loader-container {
        .loader {
            display: block;
            position: relative;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 5px solid transparent;
            border-top-color: $couleur-primaire;
            animation: rotate 2s linear infinite;

            &:before,
            &:after {
                content: "";
                position: absolute;
                border-radius: 50%;
                border: 5px solid transparent;
            }

            &:before {
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                border-top-color: $couleur-secondaire;
                animation: rotate 3s linear infinite;
            }

            &:after {
                top: 25px;
                left: 25px;
                right: 25px;
                bottom: 25px;
                border-top-color: $couleur-tertiare;
                animation: rotate 1.5s linear infinite;
            }
        }
    }
}

// header

body {
    margin: 0;
    padding: 0;
    font-family: "roboto", helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

.container {
    padding: 0 15px;
}

a {
    color: #000;
    text-decoration: none;
}

header {

    .logo {
        @include flexCenter;
        font-family: "shrikhand";
        font-weight: bold;
        font-size: 24px;
        border-bottom: solid 2px #f2f2f2;


        h1 {
            margin: 0;
        }
    }

    .geo {
        @include flexCenter;
        padding: 10px 0;

        i {
            margin-right: 10px;
        }
    }

}

// Présentation

.title {
    text-align: center;
}

// Boutons

.btn {

    @include flexCenter;


    p {
        @include btn;

        &:hover {
            @include btnHover;
        }
    }
}

// Menu

.nav-main {

    .nav {
        display: flex;
        list-style: none;

        .nav-content {
            display: flex;
            align-items: center;
            margin-right: 80px;
            box-shadow: 2px 3px 8px #d0d0d0;
            border-radius: 20px;
            position: relative;
            background: #f2f2f2;
            width: 100%;

            &:hover {
                background-color: rgba(147, 86, 220, 20%);
                cursor: pointer;

                i {
                    color: $couleur-primaire;
                }
            }

            span {
                margin-right: 10px;
                padding: 5px 10px;
                border-radius: 50%;
                background-color: $couleur-primaire;
                color: #ffffff;
                position: absolute;
                left: -10px;

            }

            i {
                margin: 0 10px 0 45px;
                color: #7f7f7f;

            }

            p {
                font-weight: bold;
            }

        }
    }
}

// galerie accueil

.gal-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
        position: relative;
        width: 24%;
        border-radius: 10px;
        margin-bottom: 40px;
    }

    .box {
        box-shadow: 2px 3px 8px #d0d0d0;
        border-radius: 10px;

        &:hover {
            box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 60%);
        }

        .new {
            position: absolute;
            background: #99E2D0;
            right: 20px;
            top: 20px;

            p {
                color: #058A6A;
                margin: 0;
                padding: 10px 20px;
            }
        }
    }

    .image {
        @include imgBackground;
        height: 276px;
        border-radius: 10px 10px 0 0;
    }

    .menu1 {
        background-image: $img-menu1;
    }

    .menu2 {
        background-image: $img-menu2;
    }

    .menu3 {
        background-image: $img-menu3;
    }

    .menu4 {
        background-image: $img-menu4;
    }

    .description {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;

        h4 {
            margin-bottom: 10px;
        }

        p {
            margin-top: 5px;
        }
    }

    .heart {
        display: flex;
        align-items: center;
        padding-right: 15px;
        text-decoration: none;
        font-size: 24px;

        .fas {
            opacity: 0;
        }

        .far {
            opacity: 1;
        }

        &:hover {

            .fas {
                opacity: 1;
                transform-origin: bottom center;
                color: $couleur-primaire;
                transition: color 500ms ease-in;
            }

            .far {
                opacity: 0;
            }


        }
    }

}

// footer

footer {
    background-color: #353535;
    padding: 20px 0;

    .logo-footer {
        color: #ffffff;
        font-family: "shrikhand";
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 15px;

    }

    .list-footer {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 6%;

        i {
            margin-right: 10px;
        }

        li {
            list-style: none;
            font-size: 18px;
            margin-bottom: 10px;
        }

        a {
            color: #ffffff;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Mise en page des menus 

.top {
    display: flex;

    .return {
        @include flexCenter;
        font-size: 20px;
    }

    .logo {
        width: 100%
    }
}

.background {
    @include imgBackground;
    height: 350px;
}

.menu1 {
    background-image: $img-menu1;
}

.menu2 {
    background-image: $img-menu2;
}

.menu3 {
    background-image: $img-menu3;
}

.menu4 {
    background-image: $img-menu4;
}


#menu {
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    border-radius: 30px 30px 0 0;
    background-color: #F6F6F6;
    box-sizing: border-box;
    margin-top: -60px;

    .menu-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Shrikhand';
    }

    .menu {
        display: flex;
        justify-content: space-between;

        @for $i from 1 through 10 {
            .item:nth-child(#{$i}) {
                animation-delay: $i * 500ms;
            }
        }

    }

    // .box div description plats
    .box {

        width: 32%;

        h3 {
            position: relative;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 40px;

            &::after {
                content: '';
                width: 50px;
                height: 4px;
                background: $couleur-tertiare;
                position: absolute;
                left: 0px;
                bottom: -8px;
            }
        }

        .item {
            margin-bottom: 20px;
            width: 100%;
            opacity: 0;
            animation: opacity 2s;
            animation-fill-mode: forwards;
            animation-delay: 1000ms;
        }

        // Animation prix + icone dans .box
        .anim-price {
            position: relative;
            cursor: pointer;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 70px;
            border-radius: 15px;
            background-color: white;
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);

            .valid-box {
                display: none;
                position: absolute;
                background: $couleur-tertiare;
                border-radius: 0 15px 15px 0;
                right: 0px;
                padding: 0 13px;
                height: 100%;

                i {
                    font-size: 30px;
                    color: white;
                    transform: rotate(180deg);
                    animation: rotate 0.5s both;
                }
            }

            &:hover .valid-box {
                @include flexCenter;
                animation: slide-left 0.5s ease;
                transform-origin: right;
            }

            &:hover .price {
                padding-right: 50px;
                transition: 0.5s ease;
            }
        }

        // Texte dans .box
        .description {
            margin-left: 20px;
            white-space: nowrap;
            overflow: hidden;

            h4,
            p {
                margin: 0;
                text-overflow: ellipsis;
                overflow: hidden;
            }

        }

        .price p {
            padding-right: 20px;
            font-weight: bold;
        }
    }

    // Fin .box

}

// Keyframes 
@keyframes loader {
    0% {
        visibility: visible;
        opacity: 0.8;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 10px rgba(113, 5, 245, 0.01);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes slide-left {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(-50px);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// Media Queries

@media (min-width: 1200px) {

    .container,
    header {
        width: 1200px;
        margin: 0 auto;
    }
}