// Font Family 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&family=Shrikhand&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "roboto", helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

.container {
    padding: 0 $padding-l;
}

a {
    color: #000;
    text-decoration: none;
}