@media (max-width: 992px) {

    .container {
        padding: 0 15px;
        max-width: 75%;
        margin: 0 auto;
    }

//fleches retour page prduit
    .return {
        margin-left: 15px;
    }


//boutons
    .btn {
        p {
            width: 38%;
        }
    }

//navigation
    .nav-main {

        .nav {
            display: block;

            .nav-content {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }

//galerie accueil
    .gal-flex {
        flex-direction: column;

        .item {
            width: 100%;
        }

        .image {
            height: 200px;
        }
    }

//mise en forme page produits
    #menu {
        width: 100%;

        .menu {
            flex-direction: column;

            .box {
                width: 70%;
                margin: 0 auto;
            }
        }

    }

//footer
    footer {
        .list-footer {
            flex-direction: column;

            i.fas.fa-utensils {
                padding-right: 10px;
            }

            i.fas.fa-hands-helping {
                font-size: 14px;
                padding-right: 6px;
            }

        }
    }


}

@media (max-width: 620px) {
//bouton
    .btn {
        p {
            width: 55%;
        }
    }

    .container {
        max-width: none;
        margin: unset;
    }

//valid chack page produits
    .fa-check-circle:before{
        font-size: 24px;
    }

    #menu .menu .box{
        width: 100%;
        margin: unset;
    }
}