// @media (min-width: 1200px) {

//     .container,
//     header {
//         width: 1200px;
//         margin: 0 auto;
//     }
// }

@media (max-width: 992px) {

    .container {
        padding: 0 15px;
        max-width: 75%;
        margin: 0 auto;
    }

    .return {
        margin-left: 15px;
    }


    .btn {
        p {
            width: 30%;
        }
    }


    .nav-main {

        .nav {
            display: block;

            .nav-content {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }

    .gal-flex {
        flex-direction: column;

        .item {
            width: 100%;
        }

        .image {
            height: 200px;
        }
    }

    #menu {
        width: 100%;

        .menu {
            flex-direction: column;

            .box {
                width: 100%;
            }
        }

    }

    footer {
        .list-footer {
            flex-direction: column;

            i.fas.fa-utensils {
                padding-right: 10px;
            }

            i.fas.fa-hands-helping {
                font-size: 14px;
                padding-right: 6px;
            }

        }
    }


}

@media (max-width: 620px) {
    .btn {
        p {
            width: 55%;
        }
    }

    .container {
        max-width: none;
        margin: unset;
    }
}