@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin imgBackground {
    background-size: cover;
    background-position: center;
}

@mixin position{
    position:relative;
    z-index: 0;
}
